<ion-header no-border>
    <ion-toolbar color="header">
  
      <!-- <ion-buttons slot="start">
        <ion-back-button defaultHref="/" color="header"></ion-back-button>
      </ion-buttons> -->

      <ion-menu-button menu="first" color="light" slot="start" ></ion-menu-button>

      <ion-button (click)="cerrarSesion()" slot="end">
          
              <ion-label>Cerrar Sesión</ion-label>
      </ion-button>

      
  
      <ion-title class="ion-text-left"> {{ titulo }} </ion-title>
    </ion-toolbar>
  </ion-header>