
<app-header titulo="Buscar Producto" ></app-header>

<ion-content>

<ion-searchbar placeholder="Buscar producto" inputmode="email" type="decimal" 
(ionChange)="buscarProducto($event)" [debounce]="250" animated></ion-searchbar>


<ion-card *ngFor="let producto of productos | filtro: aguja">
        <ion-card-header>
            <img [src]="producto.ima_url">
            <ion-card-subtitle>Calificacion: {{ producto.prod_precio_venta }}</ion-card-subtitle>
            <ion-card-title>{{ producto.prod_nombre }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-item>
                <ion-label>Precio: ${{ producto.prod_precio_venta }}</ion-label>
            </ion-item>
        </ion-card-content>
    </ion-card>

</ion-content>
