
<app-header titulo="Mi Carrito" ></app-header>

<ion-content>

    <ion-card>
        <ion-card-header>
            <ion-img src=""></ion-img>
            <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
            <ion-card-title>Awesome Title</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            
        </ion-card-content>
    </ion-card>

</ion-content>

<ion-footer>
    <ion-toolbar color="header">
        <ion-title>Precio Total a Pagar:</ion-title>
    </ion-toolbar>
</ion-footer>
